.container {
  width: 14em;
  height: 14em;
  margin: 2em;
  border: 1px solid #212121;
}

.inputBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}

.resultsBox {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.input {
  min-width: 5em;
}

.input > label {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  margin-bottom: 5px;
}

.result {
  margin-top: 5px;
  min-width: 5em;
  padding: 0 1em;
}

.grey {
  background: linear-gradient(to bottom, #fafafa, #bdbdbd);
}

.blue {
  background-color: #BBDEFB;
}

.red {
  background-color: #F8BBD0;
}
